*.test
cpu.out
mem.out
.env
.vscode/
__debug_bin
ssl_cert/*
!ssl_cert/.gitkeep
vendor/
deployments/secrets/REDIS_PASSWORD.txt
deployments/secrets/POSTGRES_PASSWORD.txt
TODO.txt
eshop
config.toml
config.docker.toml
config.liara.toml
uploads/*
oauth-keys/*.key
!oauth-keys/.gitkeep